.slick-prev:before,
.slick-nex:before {
    color: gray !important;
    font-size: 3rem !important;
}

.width-item {
    width: 100% !important;
}

.active_Phim {
    @apply bg-gray-800 text-white;
}

.none_Active_Phim {
    @apply bg-white text-gray-800;

}