.ghe {
    /* ghế thường*/
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123, 122, 122);
    color: #fff;
}

.gheDaDat {
    background-color: rgb(171, 42, 42);
    cursor: no-drop;
}

.gheDangDat {
    background-color: rgb(18, 176, 18);
}

.gheVip {
    background-color: rgb(288, 74, 8);
}

.gheDaDuocDat {
    background-color: rgb(246, 246, 246);
    -webkit-box-shadow: -1px 2px 18px -6px #000000;
    box-shadow: -1px 2px 18px -6px #000000;
    color: orange !important;
    border: 1px solid orange;
    cursor: no-drop;
}

.gheKhachDangDat {
    background-color: #1746A2 !important;
    cursor: no-drop;
}